## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numero = 1
print(numero)

1

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
type(8.5)

float

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
type(numero)

int

4) Crear una variable que contenga tu nombre

In [4]:
nombre = 'gustavo'

5) Crear una variable que contenga un número complejo

In [5]:
n_complejo = 5 + 5j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(n_complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
valor_pi_redondeado = 3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
variable_true = 'True'
verdadero = True

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [9]:
print(type(variable_true))
print(type(verdadero))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [10]:
suma = 5 + 5.5

11) Realizar una operación de suma de números complejos

In [11]:
num_com1 = 2 + 5j
num_com2 = 5 + 2j

print(num_com1 + num_com2)

(7+7j)

12) Realizar una operación de suma de un número real y otro complejo

In [12]:
operacion_combinada = num_com2 + 3.61
print(operacion_combinada)

(8.61+2j)

13) Realizar una operación de multiplicación

In [13]:
multiplicacion = 4 * 8
print(multiplicacion)

32

14) Mostrar el resultado de elevar 2 a la octava potencia

In [15]:
print(2 ** 8)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [17]:
cociente = 27 / 4
print(cociente)

6.75

16) De la división anterior solamente mostrar la parte entera

In [18]:
cociente = 27 // 4
print(cociente)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [19]:
print(27 % 4)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [20]:
print(4 * 6 + 3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [23]:
variable1 = 'Que '
variable2 = 'tal?'

print(variable1 + variable2)

Que tal?

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [25]:
2 == '2'

#Eso ocurre debido a que son distintos tipos de datos, del lado izquierdo de la comparacion se encuentra un tipo de dato "int" y del lado
#derecho de la comparacion un tipo de dato "str"

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [27]:
2 == int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [31]:
a = float('3,8')

#no lo reconoce como un numero flotante debido a que para la separacion decimal se uso "," en vez de "."

ValueError: could not convert string to float: '3,8'

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [32]:
variable = 3

variable -= 1

print(variable)

2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [34]:
print(1 << 2)

#El sistema binario es un sistema numérico que utiliza únicamente dos dígitos: 0 y 1
#Da como resultado "4" debido a que el número 1 en binario se representa como 0001
#al aplicar la operacion descrita, se deplaza el numero 1 dos posiciones hacia la izquierda
#por lo que resultaria en "0100"
#por lo tanto (0 * 2^3) + (1 * 2^2) + (0 * 2^1) + (0 * 2^0) = 0 + 4 + 0 + 0 = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [36]:
2 + '2'

#No esta permitido debido a que son distintos tipos de datos

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [37]:
print('hola' * 2)

holahola